.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  .input-container {
    position: relative;
    border: 2px solid;
    background: white;
    border-radius: 10px;
  }
  
  .input-container input {
    border: 0px;
    padding-right: 40px;
  }
  input:focus-visible{
    outline: 0px;
  }
  
  .input-container button {
    position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-image: url('../../assets/search.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 90%;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
  }
  button[type="submit"]:hover{
    transform: scale(1.2);
  }
  .clear-button{
    background-image: url('../../assets/delete.png') !important;
    right: 50px !important;
    background:transparent;
    transition: transform 0.3s ease-in-out;
  }
  .clear-button:hover{
    transform: scale(1.2);
  }
  .btn-location{
    display: flex;
    flex-direction: row;
    text-align: left;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
  }
  .btn-location:hover{
    background: rgb(134, 127, 127);
  }
  .btn-location img{
    height: 25px;
    padding-top: 4px;
  }
  .btn-location span{
    padding: 8px;
    padding-left: 20px;
  }
  .show-error{
    color: red;
    font-weight: 700;
    transition: 0.5s ease-in-out
  }
  .suggestions {
    margin-top: 10px;
  }
  .show-error {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .show-error.active {
    opacity: 1;
    transform: translateY(0);
  }
  .suggestion {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .suggestion:hover {
    background-color: #e0e0e0;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  